In [15]:
from google.colab import files
uploaded = files.upload()

Saving Pizza.csv to Pizza (1).csv

In [16]:
import pandas as pd
ds = pd.read_csv("Pizza.csv")
ds.head()

  brand     id   mois   prot    fat   ash  sodium  carb   cal
0     A  14069  27.82  21.43  44.87  5.11    1.77  0.77  4.93
1     A  14053  28.49  21.26  43.89  5.34    1.79  1.02  4.84
2     A  14025  28.35  19.99  45.78  5.08    1.63  0.80  4.95
3     A  14016  30.55  20.15  43.13  4.79    1.61  1.38  4.74
4     A  14005  30.49  21.28  41.65  4.82    1.64  1.76  4.67

In [17]:
topic=[]
for i in ds:
    topic.append(i)
a=topic.pop(0)
topic.append(a)
mdt=pd.DataFrame(ds[topic])

In [18]:
from sklearn.preprocessing import OrdinalEncoder,LabelEncoder
from sklearn.model_selection import train_test_split

In [19]:
dataset = OrdinalEncoder().fit_transform(mdt)
dataset = pd.DataFrame(dataset)
dataset.columns=topic
#dataset["brand"]=LabelEncoder().fit_transform(mdt["brand"])
dataset

        id   mois   prot    fat    ash  sodium   carb    cal  brand
0     53.0   14.0  191.0  252.0  154.0    82.0    3.0  137.0    0.0
1     39.0   29.0  186.0  248.0  163.0    83.0   11.0  135.0    0.0
2     17.0   26.0  169.0  259.0  153.0    72.0    5.0  138.0    0.0
3     10.0   63.0  173.0  245.0  139.0    70.0   21.0  130.0    0.0
4      2.0   61.0  187.0  238.0  142.0    73.0   29.0  126.0    0.0
..     ...    ...    ...    ...    ...     ...    ...    ...    ...
295  289.0  142.0  123.0  123.0   73.0    33.0  156.0   39.0    9.0
296  184.0  135.0  128.0  144.0   69.0    34.0  144.0   55.0    9.0
297  284.0  139.0  122.0   97.0   69.0    31.0  159.0   40.0    9.0
298   33.0  175.0  103.0   74.0   62.0    23.0  147.0   26.0    9.0
299   34.0  161.0   86.0   81.0   60.0    24.0  157.0   30.0    9.0

[300 rows x 9 columns]

In [20]:
x= topic[:-1]
y = topic[-1]
print(x)
print(y)

['id', 'mois', 'prot', 'fat', 'ash', 'sodium', 'carb', 'cal']
brand

In [ ]:
a = []
for i in topic:
  temp = []
  for j in mdt[i].unique():
    temp.append(j)
  temp.sort()
  a.append(temp)
print(a)

In [22]:
x_train,x_test,y_train,y_test = train_test_split(dataset[x],dataset[y],test_size=0.3,random_state=142)

In [23]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [24]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [25]:
tree = DecisionTreeClassifier()
dtree = tree.fit(x_train,y_train)

In [26]:
y_pred=tree.predict(x_test)

In [27]:
accuracy_score(y_test,y_pred)

0.8777777777777778

In [ ]:
result = tree.predict([6,0,1,2,1,0,1,2])
a[0][int(result[0])]

In [ ]:
from sklearn.tree import plot_tree
import matplotlib.pyplot as plt

clf = DecisionTreeClassifier(max_depth=3) #max_depth is maximum number of levels in the tree
clf.fit(dataset[x],dataset[y])

plt.figure(figsize=(25,10))
a = plot_tree(clf, 
              feature_names=topic[:-1], 
              class_names=topic[-1], 
              filled=True, 
              rounded=True, 
              fontsize=100)

In [36]:
import math
zero,one=0,0
array = dataset["brand"].tolist()
for i in array:
  if i==0:
    zero+=1
  else:
    one+=1
total_entropy = ((-one/len(array))*math.log(one/len(array))) - (zero/len(array)*math.log(zero/len(array)))
print(total_entropy)

0.31769654289617877